body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signature {
  stroke-dasharray: 1188.5115966796875;
  stroke-dashoffset: 1188.5115966796875;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
